<ul>
  <li>
    <form action="/<%= existing_idea.id %>/like" method="post" style="display: inline">
      <input type="submit" value="+"/>
    </form><br/>
    Title: <%= escape_html existing_idea.title %><br/>
    Description: <%= escape_html existing_idea.description %><br/>
    Tags: <% existing_idea.tags.each do |tag| %>
    <a href="/tag/<%= tag %>"><%= escape_html tag %></a>
    <% end %><br/>
    Idea Group: <%= escape_html existing_idea.group %><br/>
    <form action=/<%= existing_idea.id %>/edit" method="get" style="display: inline;">
      <input type="submit" value="edit">
    </form>
    <form style="display: inline" action="/<%= existing_idea.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete"/>
    </form>
  </li>
</ul>
