<h1>IdeaBox</h1>

<h2>New Idea</h2>

<form action="/" name="new_idea" id="new_idea" onsubmit="return validateForm();" method="post">
  <label for="new_title">Title:</label>
  <input type="text" name="idea[title]" id="new_title"/><br/>
  <label for="new_description">Description:</label>
  <textarea name="idea[description]" id="new_description"></textarea><br/>
  <label for="new_tags">Tags:</label>
  <input type="text" name="idea[tags]" id="new_tags"/><br/>
  <label for="new_idea_group">Idea Group:</label>
  <select name="idea[group]">
    <% groups.each do |group| %>
      <option value="<%= group %>"><%= group %></option>
    <% end %>
  </select>
  <input type="submit">
</form>


<h2>Idea Groups</h2>

<% groups.each do |group| %>
  <a href="/<%= group %>"><%= group %></a>
<% end %>

<form id="new_group" action="/group/new" method="post">
  <input type="text" name="group" value=""/>
  <input type="submit" value="Create Group">
</form>


<h2>Existing Ideas</h2>

<ul>
  <% ideas.each do |idea| %>
    <li>
      <form action="/<%= idea.id %>/like" method="post" style="display: inline">
        <input type="submit" value="+"/>
      </form><br/>
      Title: <%= idea.title %><br/>
      Description: <%= idea.description %><br/>
      Tags: <% idea.tags.each do |tag| %>
        <a href="/tag/<%= tag %>"><%= tag %></a>
      <% end %><br/>
      Idea Group: <%= idea.group %><br/>
      <button><a href="/<%= idea.id %>/edit">edit</a></button>
      <form action="/<%= idea.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="delete"/>
      </form>
    </li>
  <% end %>
</ul>

<a href="/">Sort by Rank</a>
<a href="/sort_by_tags">Sort by Tags</a>
